{% extends "layout.html" %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
<div class="ui segment">
    <div class="ui header">{{ article.title }}</div>
    <div class="ui header">{{ article.author }}</div>
    <div class="ui segment"> {{ article.body }}


</div>
<div class="ui vertical segment">
    {% for link in links %}
    <div class="ui vertical segment">
        <a href="{{ url_for('article', article_id=link.path) }}">
            {{ link.title }}
        </a>
    </div>
    {% endfor %}

</div>
{% endblock %}
